body{
    background-color: #beaffd;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.todoContainer{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.button{
    border: none;
    cursor: pointer;
    box-shadow: -2px -1px 70px 0px rgba(255, 255, 255, 0.429), -3px -2px 6px 0px rgba(255, 255, 255, 0.303),
    7px 8px 10px rgba(53, 53, 53, 0.067), 8px 5px 6px 0px rgba(53, 53, 53, 0.067);
    background: #beaffd;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}
.boton:active {
    box-shadow: inset -8px -8px 50px #0003, inset -5px -8px 12px #0001,
      inset 1px 1px 2px rgba(255, 255, 255, 0.318), inset 1px 1px 2px rgba(255, 255, 255, 0.310);
  }
.todoCreateForm{
    display: flex;
    gap: 5px;
}
.todoInput{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #999;
}
.buttonCreate{
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}
.todosContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.todo{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: #beaffd;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.todoTitle{
    flex: 1;
    font-size: 20px;
}
.todoUpdateForm, .todoInfo{
    display: flex;
    align-items: center;
    gap: 5px;
}